arquivado/*
__pycache__/*
**/__pycache__/
.ipynb_checkpoints/
.venv/
Docs/*
*.tif

codes/dataset_patches_*.npz
candidatos_orbitais/dataset_patches_*.npz
candidatos_orbitais/recortes_orbitais/*supercube_*.nc
codes/recortes_orbitais/*supercube_*.nc
*.tif.aux.xml
*/recortes_orbitais/previews/*
*.log

codes/recortes_orbitais/logs/*
*.tif.meta.json
*.npz
*pc_cache/*
